.jumbotron-fluid {
    text-shadow: #444 0 1px 1px;
      color: rgb(255, 255, 255);
      position: relative;
      height: 20vh;
      display: flex;
      align-items: center;
  }
  
  .jumbotron-fluid .container-fluid {
    position: relative;
    z-index: 2;
  }
  
  .jumbotron-fluid .bg {
    background: url("/uploads/designs/cover.jpg") top center no-repeat;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    position: absolute;
    /* filter: blur(5px); */
    top: 0;
    left: 0;
    z-index: 1;
  }