body {
    background-image: url('http://demo.thedevelovers.com/dashboard/queenadmin-1.2/assets/img/gray_jean.png?1353438653');
    background-repeat: repeat;
    min-height: 1585px;
}
.user-follower,
.user-following,
.user-people {
  position: relative;
  margin-bottom: 40px;
}
.user-follower img,
.user-following img,
.user-people img {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 40px;
}
.user-follower a,
.user-following a,
.user-people a {
  font-size: 1.1em;
  line-height: 1;
}
.user-follower .username,
.user-following .username,
.user-people .username {
  font-size: 0.9em;
  line-height: 1.5;
}
.user-follower .btn,
.user-following .btn,
.user-people .btn {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 92px;
}

.nav-tabs > li > a {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  cursor: pointer;
}

.nav-pills > li > a {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #1688ae;
}

.nav-tabs.tabs-iconized > li a,
.nav-pills.tabs-iconized > li a {
  padding-top: 0;
  padding-bottom: 5px;
}
.nav-tabs.tabs-iconized > li i,
.nav-pills.tabs-iconized > li i {
  position: relative;
  margin-right: 3px;
  top: 4px;
  font-size: 24px;
}

.tab-content {
  padding: 30px 15px 15px 15px;
  background-color: #fff;
}

.nav.nav-tabs-custom-colored > li > a {
  border-color: #ccc;
  border-bottom: transparent;
}
.nav.nav-tabs-custom-colored > li > a:hover, .nav.nav-tabs-custom-colored > li > a:focus {
  background-color: #1688ae;
}

.nav-tabs.nav-tabs-custom-colored {
  border-bottom-color: #1688ae;
}
.nav-tabs.nav-tabs-custom-colored > li {
  z-index: 0;
  margin-bottom: 0;
  background-color: #fff;
}
.nav-tabs.nav-tabs-custom-colored > li > a {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  color: #696565;
  margin-right: 0;
}
.nav-tabs.nav-tabs-custom-colored > li > a:hover, .nav-tabs.nav-tabs-custom-colored > li > a:focus {
  color: #fff;
  border-color: #1688ae;
}
.nav-tabs.nav-tabs-custom-colored > li.active > a, .nav-tabs.nav-tabs-custom-colored > li.active > a:hover, .nav-tabs.nav-tabs-custom-colored > li.active > a:focus {
  color: #fff;
  background-color: #1688ae;
  border-color: #1688ae;
  border-bottom: transparent;
}
.nav-tabs > li.active {
  z-index: 1;
}

.nav-pills-custom-minimal {
  border-bottom: 1px solid #ccc;
}
.nav-pills-custom-minimal > li > a {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 10px;
  border-top: 4px solid transparent;
  color: #696565;
}
.nav-pills-custom-minimal > li > a:hover, .nav-pills-custom-minimal > li > a:focus {
  background-color: transparent;
  color: #4f4c4c;
}
.nav-pills-custom-minimal > li.active > a, .nav-pills-custom-minimal > li.active > a:hover, .nav-pills-custom-minimal > li.active > a:focus {
  background-color: transparent;
  border-top-color: #94c632;
  color: #696565;
}
.nav-pills-custom-minimal > li + li {
  margin-left: 30px;
}
@media screen and (max-width: 480px) {
  .nav-pills-custom-minimal > li + li {
    margin-left: 0;
  }
}
.nav-pills-custom-minimal.custom-minimal-bottom > li a {
  border-top: none;
  border-bottom: 4px solid transparent;
}
.nav-pills-custom-minimal.custom-minimal-bottom > li.active > a, .nav-pills-custom-minimal.custom-minimal-bottom > li.active > a:hover, .nav-pills-custom-minimal.custom-minimal-bottom > li.active > a:focus {
  border-bottom-color: #94c632;
}