.footer {
    clear: both;
    position: relative;
    height: 50px;
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
 }
 .footer-dark {
    padding-top:15px;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }

  
  .footer-dark .copyright {
    text-align:right;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }