#page-container {
    position: relative;
    width:100%;
    min-height: 100vh;
    padding-top:50px;
  }
  
#wrapper {
    padding-bottom: 150px;    /* Footer height */
  }

body{
  background-color:rgb(231, 231, 231);
  display:flex;
  flex-direction: column;
}


